[submodule "rust/parking_lot"]
	path = rust/parking_lot
	url = https://github.com/Amanieu/parking_lot.git
[submodule "cpp/libipc/3rdparty/googletest"]
	path = cpp/libipc/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/libipc/3rdparty/flatbuffers"]
	path = cpp/libipc/3rdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "swift/libipc/vendor/swift-atomics"]
	path = swift/libipc/vendor/swift-atomics
	url = https://github.com/apple/swift-atomics.git
[submodule "swift/libipc/vendor/flatbuffers"]
	path = swift/libipc/vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "swift/libipc/vendor/swift-protobuf"]
	path = swift/libipc/vendor/swift-protobuf
	url = https://github.com/apple/swift-protobuf.git
