[submodule "cpp/thoth-ipc/3rdparty/googletest"]
	path = cpp/thoth-ipc/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/thoth-ipc/3rdparty/flatbuffers"]
	path = cpp/thoth-ipc/3rdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "swift/thoth-ipc/vendor/swift-atomics"]
	path = swift/thoth-ipc/vendor/swift-atomics
	url = https://github.com/apple/swift-atomics.git
[submodule "swift/thoth-ipc/vendor/flatbuffers"]
	path = swift/thoth-ipc/vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "swift/thoth-ipc/vendor/swift-protobuf"]
	path = swift/thoth-ipc/vendor/swift-protobuf
	url = https://github.com/apple/swift-protobuf.git
	ignore = untracked
